/* ---------------------------for JQuery Tabs --------------*/

#tabs li {
	list-style:none;
	display:inline;
	border-bottom: 1px solid red;
}

#tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}

#tabs a:active {
	background:#fff;
	color:#000;
}

#tabs a:hover { 

	color: #FF9100;
	text-decoration: none;

}


